<nav class="nav has-shadow">
  <div class="container">
    <div class="nav-left">
      <a class="nav-item">
        <strong>Feathers Realtime Chat</strong>
      </a>
      <a 
        class="nav-item is-tab is-hidden-mobile"
        [routerLinkActive]="['is-active']"
        [routerLinkActiveOptions]= "{exact: true}"
        [routerLink]="['/chat']">
        Chat
      </a>
      <a 
        class="nav-item is-tab is-hidden-mobile"
        [routerLinkActive]="['is-active']"
        [routerLinkActiveOptions]= "{exact: true}"
        [routerLink]="['/profile']">
        Profile
      </a>
    </div>
    <span class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>
    <div class="nav-right nav-menu">
      <a 
        class="nav-item is-tab"
        [routerLinkActive]="['is-active']"
        [routerLinkActiveOptions]= "{exact: true}"
        [routerLink]="['/login']">
        Login
      </a>
      <a 
        class="nav-item is-tab"
        [routerLinkActive]="['is-active']"
        [routerLinkActiveOptions]= "{exact: true}"
        [routerLink]="['/signup']">
        Signup
      </a>
    </div>
  </div>
</nav>